# Created by .ignore support plugin (hsz.mobi)
produce.bin
write.
mt_produce.dat
mt_write.dat
mt_size.csv
mt_time.csv
hd_size.csv
hd_time.csv
hd_produce.dat
normal.dat
out/
produce.dat
src/main/resources/
target/classes/com/wzes/dc/consume/MTWriter$NormalWriteAfterReadThread.class
target/generated-sources/
write.dat
cr_produce.dat
src/test/
target/classes/com/wzes/dc/consume/HDWriter$1.class
target/classes/com/wzes/dc/consume/HDWriter$WriteToHDFSQueueThread.class
target/classes/com/wzes/dc/consume/MTWriter$1.class
cr_size.csv
cr_time.csv
target/generated-test-sources/
.idea/libraries/Maven__com_fasterxml_woodstox_woodstox_core_5_0_3.xml
.idea/libraries/Maven__com_microsoft_sqlserver_mssql_jdbc_6_2_1_jre7.xml
.idea/libraries/Maven__com_nimbusds_nimbus_jose_jwt_3_9.xml
.idea/libraries/Maven__com_zaxxer_HikariCP_java7_2_4_12.xml
.idea/libraries/Maven__io_netty_netty_3_7_0_Final.xml
.idea/libraries/Maven__net_jcip_jcip_annotations_1_0.xml
.idea/libraries/Maven__net_minidev_json_smart_1_1_1.xml
.idea/libraries/Maven__org_apache_avro_avro_1_7_7.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_4.xml
.idea/libraries/Maven__org_apache_geronimo_specs_geronimo_jcache_1_0_spec_1_0_alpha_1.xml
.idea/libraries/Maven__org_apache_hadoop_hadoop_annotations_2_9_0.xml
.idea/libraries/Maven__org_apache_hadoop_hadoop_auth_2_9_0.xml
.idea/libraries/Maven__org_apache_hadoop_hadoop_client_2_9_0.xml
.idea/libraries/Maven__org_apache_hadoop_hadoop_common_2_9_0.xml
.idea/libraries/Maven__org_apache_hadoop_hadoop_mapreduce_client_app_2_9_0.xml
.idea/libraries/Maven__org_apache_hadoop_hadoop_mapreduce_client_common_2_9_0.xml
.idea/libraries/Maven__org_apache_hadoop_hadoop_mapreduce_client_core_2_9_0.xml
.idea/libraries/Maven__org_apache_hadoop_hadoop_mapreduce_client_jobclient_2_9_0.xml
.idea/libraries/Maven__org_apache_hadoop_hadoop_mapreduce_client_shuffle_2_9_0.xml
.idea/libraries/Maven__org_apache_hadoop_hadoop_yarn_api_2_9_0.xml
.idea/libraries/Maven__org_apache_hadoop_hadoop_yarn_client_2_9_0.xml
.idea/libraries/Maven__org_apache_hadoop_hadoop_yarn_common_2_9_0.xml
.idea/libraries/Maven__org_apache_hadoop_hadoop_yarn_server_common_2_9_0.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_2.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_4.xml
.idea/libraries/Maven__org_codehaus_woodstox_stax2_api_3_1_4.xml
.idea/libraries/Maven__org_ehcache_ehcache_3_3_1.xml
.idea/libraries/Maven__org_slf4j_slf4j_log4j12_1_7_25.xml
