# Created by .ignore support plugin (hsz.mobi)
produce.bin
write.
mt_produce.dat
mt_write.dat
mt_size.csv
mt_time.csv
hd_size.csv
hd_time.csv
hd_produce.dat
normal.dat
out/
produce.dat
src/main/resources/
target/classes/com/wzes/dc/consume/MTWriter$NormalWriteAfterReadThread.class
target/generated-sources/
write.dat
cr_produce.dat
src/test/
target/classes/com/wzes/dc/consume/HDWriter$1.class
target/classes/com/wzes/dc/consume/HDWriter$WriteToHDFSQueueThread.class
target/classes/com/wzes/dc/consume/MTWriter$1.class
